<style>
   body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #c5e3f8;
   }
   .barra{
    height: 100%;
    width: 200px;
    position: fixed;
    padding-top: 20px;
    text-align: center;
    background-color: #001F3F;
    color: white;
   }

   .botao{
    display: block;
    width: 90%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #244b72;
    color: white;
    text-decoration: none;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 6px;
    font-size: 20px;
   }
   .botao:hover{
    background-color: #5c86b1;
    width: 115%;
    text-align: center;
   }

   .conteudo{
    display: block;
    margin-left: 235px;
    padding: 16px ;
    font-size: 25px;
    background-color: white;
    width: 50%;
    min-height: 50%;
    border-top: 30px;
    border-color: #c5e3f8;
    border-radius: 20px;
   }

</style>
